body {
    background-color: #a8dadb !important;
    color: #4a6362;
    font-family:sans-serif;
    height: 100%;
    background-image: url();
    background-size: 80%;
	padding-top: 56px;
}


nav {
    position: sticky;
    color: #5bddf5 !important;
}

#navbar {
    background: rgba(36, 109, 128, 0.8)!important;
    color: #5bddf5!important;
}

.navbar-brand {
    color: #5bddf5 !important;    
}

.nav-link {
    color: #00ffc3 !important;
}

.nav-link:hover {
    color: #46f800 !important;
}
.headerimg {
    width: 100%;
    padding-top: 55px;
}



#submit {
    color: #ff0037;
}

#submit:hover {
    box-shadow: 110 12px 16px 0 rgba(190, 20, 20, 0.24), 110 17px 50px 0 rgba(182, 24, 24, 0.19);
}
/* my account>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.form-input {
	display: block;
	width: 80%;
	height: 50px;
	padding: 12px 18px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #292c2e;
	background-color: #f8f5f5;
	background-image: none;
	border: 1px solid #0e0d0d;
	border-radius: 10;
	
}

.form-label {
	position:static;
	top: 10px;
	left: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #2e70aa;
	pointer-events: none;
	z-index: 9;
	transition: .3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}




@media (min-width: 768px) {
	.form-label-outside {
		position: static;
	}
	.form-label-outside, .form-label-outside.focus, .form-label-outside.auto-fill {
		
		-webkit-transform: none;
		transform: none;
		color: #121213;
		font-size: 16px;

}

/* product  */
#market{
	display: flex;
	color: #000;
	height: 100%;
	width: 100%;
	/* border-collapse: separate;
	border-spacing: 50px 50px; */
	flex-wrap: wrap;
	
	
}

.card-product {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	padding: 5px;
	text-align: center;
	background-color: #f1f1f1;
    height: 95%;
	 
	display: flex;
	flex-wrap: wrap;
	/* border-collapse: separate;
	border-spacing: 50px 50px; */
	/* display: table-cell; */
}
/* about */
.centered-about {
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* contact */
.my-form {
	color: #305896;
}
.my-form .btn-default {
	background-color: #305896;
	color: #fff;
	border-radius: 0;
}
.my-form .btn-default:hover {
	background-color: #4498C6;
	color: #fff;
}
.my-form .form-control {
	border-radius: 0;
}



h2{
	text-align: center;
}


h3{
	text-align: center;
}



.right{
	padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

.left{
	padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}




.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
  
  
  /* .row::after {
	content: "";
	clear: both;
	display: table;
  } */


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


/* footer  */
footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
	
}
  
  i {
	color: #f8f8f8;
  }
  
  .form-control::placeholder {
	font-size: 0.95rem;
	color: rgb(5, 5, 5);
	font-style: italic;
  }
  
  .form-control.shadow-0:focus {
	box-shadow: none;
  }


/* about page */

.about-container{
	max-width: 1100px;
	margin: auto;
	overflow: auto;
	padding: 0 2rem;
}

.main-header{
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}
.main-header-about{
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}



.main-header h1 span{
	font-size: 4rem;
	margin-bottom: 2rem;
	line-height: 1.2;
	color: #3b7580;
}
.main-header-about h1 span{
	font-size: 4rem;
	margin-bottom: 2rem;
	line-height: 1.2;
	color: #3b7580;
}

.img{
	width: 100%;
}

.about-card{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	background-color: #08eff7;
	margin-bottom: 2rem;
}

.about-card h3{
	margin: bottom 2rem;
}

.about-card img{
	height: 400px;
	width: 550px;
}

.about-card div{
	padding: 2rem;
}

.about-card:nth-child(even) img {
order: 2;
}

@media  (max-width: 700){
.about-card{
	display: block;
}
}}
#buyButton{
	position: relative;

}



	
/* petfinder */



h2{
	text-align: center;
}


h3{
	text-align: center;
}







.column-petfinder {
	float: left;
	width: 33.33%;
	padding: 15px;
  }
  
  
  .row::after-petfinder {
	content: "";
	clear: both;
	display: table;
  }


.column-petfinder {
  float: left;
  width: 25%;
  padding:  10px;
}


.row-petfinder {margin: 0 -5px;}


.row:after-petfinder {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column-petfinder {
    width: 100%;
    display: block;
    margin-bottom: 100px;
  }
}


.card-petfinder {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.carousel .carousel-item {
    transition-duration: 1.0s;
}